<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffffad;
            border-radius: 10px;
            border: 1px solid rgba(15, 14, 14, 0.363);
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
            color: rgba(14, 13, 13, 0.63);

        }

        .header {
            text-align: center;
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            background-color: #4e91e9a2;
        }

        .logo {
            text-align: center;
            margin-bottom: 20px;
        }

        .logo img {
            max-width: 150px;
            height: auto;
        }

        .content {
            padding: 20px;
            border-top: 1px solid #eeeeee;
        }

        .verificationLink {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .verificationLink a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #0056b3;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
        }

        .verificationLink a:hover {
            background-color: #003c80;
        }

        .footer {
            margin-top: 20px;
            font-size: 12px;
            color: #666;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="../image/brand/logo.svg" alt="Company Logo">
            <h1 style="color:#064d4d">HealthLink</h1>
        </div>
        <div class="content">
            <p>Hello {{FirstName}},</p>
            <p>We received a request to reset your password for your account.</p>
            <p>If you didn't request this, you can ignore this email. Your password won't be changed until you click the
                link below and create a new one.</p>
            <div class="verificationLink">
                <a href="{{verificationLink}}">Reset Password</a>
            </div>
            <p>If you have any questions, feel free to contact us.</p>
        </div>
        <div class="footer">
            <p>Thanks,</p>
            <p>The [Your Company] Team</p>
        </div>
    </div>
</body>

</html>